# Feature extraction
At this stage, the raw data should be transform into a standard time series format. This codes is to first transform the data into a "cesium" format, and then extract the feature from it.

In [1]:
#load libraries
from datetime import datetime, timedelta
from dateutil import parser
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

#specify the data dir
data_file = '/Users/leeo/Downloads/17273_13-11-17_ts.csv'

In [4]:
data = pd.read_csv(data_file, header=1, index_col=0)
data.head(10)

                              162.64  2.420671 Unnamed: 3
2017-11-13 10:21:49.355800
2017-11-13 10:21:49.855800  167.7724  1.473044        NaN
2017-11-13 10:21:50.355800  167.3049  0.916979        NaN
2017-11-13 10:21:50.855800  164.9741  2.693337        NaN
2017-11-13 10:21:51.355800  170.3801  4.941797        NaN
2017-11-13 10:21:51.855800  166.2661  3.658687        NaN
2017-11-13 10:21:52.355800  165.1364  4.106022        NaN
2017-11-13 10:21:52.855800  167.6637  2.829640        NaN
2017-11-13 10:21:53.355800  166.7505  3.518289        NaN
2017-11-13 10:21:53.855800  175.5888  4.588646        NaN
2017-11-13 10:21:54.355800  178.7781  3.208499        NaN