# Feature extraction
At this stage, the raw data should be transform into a standard time series format. This codes is to first transform the data into a "cesium" format, and then extract the feature from it.

In [1]:
#load libraries
from datetime import datetime, timedelta
from dateutil import parser
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from cesium import featurize

#specify the data dir
data_file = '/Users/leeo/Downloads/17273_13-11-17_ts.csv'

/anaconda3/envs/p3/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

In [2]:
data = pd.read_csv(data_file, header=0, index_col=0)
data.index = pd.to_datetime(data.index)
data.head()

/anaconda3/envs/p3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                  HR      Resp Comments
Date_Time
2017-11-13 10:21:49.355800  162.6400  2.420671      NaN
2017-11-13 10:21:49.855800  167.7724  1.473044      NaN
2017-11-13 10:21:50.355800  167.3049  0.916979      NaN
2017-11-13 10:21:50.855800  164.9741  2.693337      NaN
2017-11-13 10:21:51.355800  170.3801  4.941797      NaN

## Data slice - attempt 1

In [7]:
#tranform the datetimeindex into array
time_array = np.array(data.index.to_pydatetime(), dtype=np.datetime64)
#transform into a list of list of ndarrary

cesium_times = [np.array([time_array.astype("float"),time_array.astype("float")])]

#check the time format
print(type(cesium_times))#list
print(type(cesium_times[0])) #(2, 159112) np.array
print(type(cesium_times[0][0]))
print(type(cesium_times[0][0][0]))
print(cesium_times[0].shape)

<class 'list'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.float64'>
(2, 159111)

In [9]:
#tranform the measurement values into cesium format
cesium_values =[np.array([data["HR"].to_numpy(),data["Resp"].to_numpy()])]
print(type(cesium_values[0]))

print(type(cesium_values))#list
print(type(cesium_values[0])) #array
print(type(cesium_values[0][0]))
print(type(cesium_values[0][0][0]))
print(cesium_values[0].shape)

<class 'numpy.ndarray'>
<class 'list'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.float64'>
(2, 159111)

In [10]:
#set the feature wants to extract
features_to_use = ["amplitude",
                   "percent_beyond_1_std",
                   "maximum",
                   "max_slope",
                   "median",
                   "median_absolute_deviation",
                   "percent_close_to_median",
                   "minimum",
                   "skew",
                   "std",
                   "weighted_average"]

fset_cesium = featurize.featurize_time_series(times = cesium_times,
                                              values = cesium_values,
                                              features_to_use=features_to_use)
fset_cesium.head()

feature   amplitude            percent_beyond_1_std             maximum  \
channel           0          1                    0         1         0
0        7680.97217  21.236365              0.00291  0.261541  15371.98

feature           max_slope              median            ...  \
channel         1         0         1         0         1  ...
0        17.52629  0.026259  0.000054  177.5802  2.831188  ...

feature percent_close_to_median             minimum                 skew  \
channel                       0         1         0         1          0
0                      0.997593  0.983955  10.03566 -24.94644  24.569635

feature                   std           weighted_average
channel         1           0         1                0         1
0       -0.119295  355.818913  1.560819       196.083506  2.765618

[1 rows x 22 columns]

In [15]:
time_array = np.array(data.index.to_pydatetime(), dtype=np.datetime64)
time_array[0]

numpy.datetime64('2017-11-13T10:21:49.355800')

In [13]:
#slice into n folds
n=2
len(time_array)/n

79555.5

In [18]:
#tranform the datetimeindex into array
time_array = np.array(data.index.to_pydatetime(), dtype=np.datetime64)
#transform into a list of list of ndarrary

cesium_times = [np.array([time_array.astype("float"),time_array.astype("float")])]

#check the time format
print(type(cesium_times))#list
print(type(cesium_times[0])) #(2, 159112) np.array
print(type(cesium_times[0][0]))
print(type(cesium_times[0][0][0]))
print(cesium_times[0].shape)

<class 'list'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.float64'>
(2, 159111)